#header {
  padding-top: 3px;
  padding-bottom: 12px;
  font-weight: bold;
  border-bottom: 0;
}
.tdcenter{
  white-space: nowrap;
}
.hitem{
  display: inline-block;
  margin: -6px;
  background-color: #fff;
  color: #333;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nightMode .hitem{
  background-color: #4c4c4c;
}

.hitem:hover {
  color: #6993D2;
}
/* Fix text-sizing issue */
.hitem::before {
    display: block;
    content: attr(aria-label);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}